# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

cliente/node_modules
cliente/dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

----

# Ignore bundler config.
config/database.yml

# Ignore the default SQLite database.
db/*.sqlite3
db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
log/*.log
tmp
*~
*swp

app/views/hogar/_local.html.erb
config/application.rb
config/database.yml
config/initializers/punto_montaje.rb
config/initializers/msip.rb
config/routes.rb
config/unicorn.conf.minimal.rb
archivos/*
coverage
.byebug_history
public/heb412/
public/assets/
public/cor1440*

public/packs
public/packs-test
node_modules
yarn-error.log
yarn-debug.log*
.yarn-integrity

app/assets/builds/

config/master.key
.env
config/credentials.yml.enc
public/images/logo.jpg
app/javascript/controllers/msip
app/javascript/controllers/mr519_gen
app/javascript/controllers/heb412_gen
servidor/app/javascript/controllers/cor1440_gen
app/javascript/controllers/sal7711_gen
app/javascript/controllers/sivel2_gen
app/javascript/controllers/msip
app/javascript/controllers/mr519_gen
app/javascript/controllers/heb412_gen
app/javascript/controllers/cor1440_gen
app/javascript/controllers/sal7711_gen
app/javascript/controllers/sivel2_gen
cobertura-sistema/
cobertura-unitarias/
servidor/archivos/bd/
servidor/app/assets/builds
servidor/app/javascript/controllers/heb412_gen
servidor/app/javascript/controllers/mr519_gen
servidor/app/javascript/controllers/msip
servidor/public
.cert
cliente/src/definiciones.js
.sass-cache
servidor/app/assets/stylesheets/actiontext
servidor/app/assets/stylesheets/cor1440_gen
servidor/app/assets/stylesheets/heb412_gen
servidor/app/assets/stylesheets/mr519_gen
servidor/app/assets/stylesheets/msip
*.cp
.pnpm-store
dist/
artifacts/
cache/
typechain-types/
apps/nextjs/html-snapshots/
