@import "tailwindcss";


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "DM Sans", sans-serif;
  --font-serif: "DM Serif Display", serif;
  --font-mono: "DM Mono", mono;

  --color-primary-100: #a63005;
  --color-primary-200: #b9a3d9;
  --color-secondary-100: #714ba6;
  --color-secondary-200: #8d69bf;
}

@layer base {
  ul {
    list-style: square;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: DM Sans;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 50px;
}

figcaption {
  font-size: 0.8rem;
  text-align: right;
}

.cont-flex-derecha {
  display: flex;
  justify-content: right;
}

.html-gen {
  width: 50%;
  padding: 1rem;
}

.area-de-texto {
  width: 100%
}

.texto-md {
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  border: none;
  border-right: 1px solid #ccc;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

img[src*="celular"] {
  width: 100px;
}


.cuenta-y-red {
  text-align: center;
}

.titulo {
  text-align: right;
}

.enlace-plano {
  text-decoration: none;
  color: black;
}

.logo-titulo {
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: var(--color-1);
  /*font-family: "DM Serif Display", serif; */
  font-weight: 800;
  border-radius: 5%;

}

.logo-titulo-medio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

} 
.aprender {
  padding-left: 0.2rem;
}

.mediante {
}

.juegos {
  padding-right: 0.2rem;
}

.imglogo {
  width: 50px;
  padding-bottom: 5px;
}

.encabezado-pagina {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 80px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, .8);
}

.marca {
  padding-left: 2em;
  height: 75px;
}

.controles {
  padding-right: 2em;
  height: 75px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.piedepagina {
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  background-color: var(--color-1);
  color: white;
  display: flex;
  justify-content: space-between;
} 

.gitlab img {
  width: 1.5rem;
  height: 1rem;
  object-fit: cover;
  object-position: -4px -4px;
}

.derechos {
  padding-left: 4rem;
}
.social {
  padding-right: 4rem;
}

.img-curso { 
  display: flex;
  justify-content: center;
}

.img-curso img {
  width: 100%;
  max-width: 400px;
  max-height: 280px;
}

.logo-okx {
  width: 180px;
  height: 180px;
}

.enlace-plano {
  texto-decoration: none;
}

.cursos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  background: var(--color-2);
  gap: 10px;
}

.curso {
  border: 1px solid var(--color-4);
  width: 25%;
  height: 25rem;
  border-radius: 10px;
  min-width: 200px;
  background-color: white;
}

.curso a {
  text-decoration: none;
}

.desc-curso {
  background-color: white;
  color: black;
}

.titulo-curso {
  font-weight: 800;
  padding-top: 1rem;
  text-align: center;
}

.res-curso {
  padding: 1rem;
  text-align: justify;
}

