@import "tailwindcss";


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "DM Sans", sans-serif;
  --font-serif: "DM Serif Display", serif;
  --font-mono: "DM Mono", mono;

  --color-primary-100: #a63005;
  --color-primary-200: #b9a3d9;
  --color-secondary-100: #714ba6;
  --color-secondary-200: #8d69bf;
}


figcaption {
  font-size: 0.8rem;
  text-align: right;
}

